<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    <%- include("partials/menu.ejs") %>
    <div class="content posts-container">
      <% if (posts.length) { %>
        <h2>Posts</h2>
        <div class="dashboard-posts">
          <% for (post of posts) { %>
            <div class="post-preview dashboard-post">
              <a href="/posts/<%= post.postId %>">
                <h3><%= post.title %></h3>
              </a>
              <div class="post-actions">
                <a class="action" href="/posts/<%= post.postId %>/edit">Edit</a>
                <button class="action" data-post-title="<%= post.title %>" data-post-id="<%= post.postId %>" onclick="confirmDelete(event)">
                  Delete
                </button>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <h3 class="no-posts">No Posts Available</h3>
      <% } %>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/socket.js"></script>
  <script src="js/main.js"></script>
</body>
</html>