<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Settings</title>
</head>
<body>
  <div class="container">
    <%- include("partials/menu.ejs") %>
    <div class="content">

      <form class="settings-form">
        <h2>Change Password</h2>
        <div class="input-container">
          <label>Current Password</label>
          <input type="password" class="password" placeholder="Current Password" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div class="input-container">
          <label>New Password</label>
          <input type="password" class="password" placeholder="New Password" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div class="input-container">
          <label>Repeat Password</label>
          <input type="password" class="password" placeholder="Repeat Password" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div>
          <label>Show Passwords</label>
          <input type="checkbox" onchange="showPassword(event)">
        </div>
        <button onclick="changePassword(event)">Save</button>
        <p class="msg"></p>
      </form>

      <form class="settings-form">
        <h2>Create User</h2>
        <div class="input-container">
          <label>Username</label>
          <input type="text" placeholder="Username" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div class="input-container">
          <label>Password</label>
          <input type="password" class="password" placeholder="Password" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div class="input-container">
          <label>Repeat Password</label>
          <input type="password" class="password" placeholder="Repeat Password" onfocus="focusInput(event)" onblur="blurInput(event)">
        </div>
        <div>
          <label>Show Passwords</label>
          <input type="checkbox" onchange="showPassword(event)">
        </div>
        <button onclick="createUser(event)">Create</button>
        <p class="msg"></p>
      </form>
      
      <form class="settings-form">
        <h2>Choose School</h2>
        <select>
          <% for (school of schools) { %>  
            <% if (school.id === selected.id) { %>
            <option value="<%= school.id %>" selected><%= school.name %></option>
            <% } else { %>
              <option value="<%= school.id %>"><%= school.name %></option>
            <% } %>
          <% } %>
        </select>
        <button onclick="changeSchool(event)">Save</button>
      </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
  <script src="js/settings.js"></script>
</body>
</html>